* {
  margin: 0;
}

.user {
  padding: 20px;
  margin: 2rem auto;
  width: 35%;
}

.user ul {
  padding: 0;
}

.user li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  list-style: none;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  border: 2px solid #ccc;
  padding: 0.35rem;
}

.user li:last-child {
  margin-bottom: 0;
}

.button_delete {
  margin-left: auto;
  padding: 0.4rem 0.7rem;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 4px;
}

.button_delete:hover {
  transition: 200ms;
  background-color: #bb2919;
}

.button_edit {
  margin-left: auto;
  padding: 0.4rem 0.7rem;
  background-color: rgb(138, 137, 137);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid rgb(115, 114, 114);
  border-radius: 4px;
}
.button_edit:hover {
  transition: 200ms;
  background-color: rgb(107, 106, 106);
}

.buttons {
  display: flex;
  margin-left: auto;
  gap: 0.5rem;
}
